@{
    ViewBag.Title = "Home Page";
}
<section>
    <div class="container pt-5">
        <div class="row  pt-5 pb-5">
            <div class="col-md-7 text-center">
                <img class="w-75" src="~/Content/img/home/Comisol en blanco.png" />
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-6">
                        <h5 class="text-white pt-5 text-start">
                            ESPECIALISTAS EN HACER CRECER <br />
                            TU NEGOCIO
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-md-5 text-center">
                <img class="w-50" src="~/Content/img/home/Imagen homepage.png" />
            </div>
        </div>
        <div class="pt-5 pb-5">
            <h6 class="text-center text-white">PLANEAMOS - CREAMOS - GESTIONAMOS - EJECUTAMOS</h6>
        </div>
    </div>
</section>

