
@font-face {
    font-family: 'Poppins-Regular';
    src: url('../Content/fonts/Poppins-Regular.ttf');
}
@font-face {
    font-family: 'Poppins-Light';
    src: url('../Content/fonts/Poppins-Light.ttf');
}
@font-face {
    font-family: 'Poppins-Bold';
    src: url('../Content/fonts/Poppins-Bold.ttf');
}
body {
    font-family: 'Poppins-Regular';
    background-color:#f4f0e4 !important;
}
footer {
    background-color: #f4f0e4;
}
p{
    font-size:15px;
}
.fz {
    font-size: 25px;
    color:#000 ;
}
.fz1 {
    font-size: 19px;
}
#intro {
    background-color:#7880b1 !important;
}
#introo {
    background-color: #7880b18f;
}
#intro2 {
    background-color: #f4f0e4 !important;
}
.tv{
    color:#7880b1
}
#vo {
    background-color: #b1b6d0ad !important;
    border-radius:8px;
}
.nav-link {
    color: #fff;
    font-family: 'Poppins-Regular';
    justify-content: center;
}

a.my-class {
    text-decoration: none;
    font-size: 18px;
    color: #fff !important;
    font-family: 'Poppins-Regular';
    justify-content: center;
}

    a.my-class:hover {
        color: #FFDA7D !important;
        text-decoration: underline;
        text-underline-offset: 5px;
        text-decoration-thickness: 3px;
    }

    a.my-class:active {
        color: #fff;
        text-decoration: underline;
        font-weight:bold;
    }


.nav-item.active a.my-class {
    color: #FFF;
    text-decoration: underline;
    font-weight: bold;
}



a.my-class2 {
    text-decoration: none;
    font-size: 17px;
    color: #7880b1 !important;
    font-family: 'Poppins-Regular';
    justify-content: center;
}

    a.my-class2:hover {
        color: #363A51 !important;
        text-decoration: underline
    }

    a.my-class2:active {
        color: rgba(225, 225, 225, 0.19) !important;
        font-size: 20px;
        text-decoration: underline;
        font-weight: bold;
        text-underline-offset: 10px;
    }


.nav-item.active a.my-class2 {
    color: #7880b1;
    color: #FFF;
    text-decoration: underline;
    font-weight: bold;
    text-underline-offset: 5px;
    text-decoration-thickness: 3px;
}

.nav-item {
    text-align: end;
    width: 200px;
}
footer {
    font-family: 'Poppins-Light';
}
h5 {
    font-family: 'Poppins-Light';
}
h6 {
    font-family: 'Poppins-Regular';
}
h2 {
    font-family: 'Poppins-Bold';
}

.form-control {
    min-height: auto;
    padding-top: .32rem;
    padding-bottom: .32rem;
    padding-left: .75rem;
    padding-right: .75rem;
    border: 0 !important;
    background: rgb(120, 128, 177, .10) !important;
    transition: all .2s linear;
    color: #000 !important
}
::placeholder{
    color:#000 !important
}

    .form-outline .form-control ~ .form-label {
        position: absolute;
        top: 0;
        max-width: 90%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        left: .75rem;
        padding-top: .37rem;
        pointer-events: none;
        transform-origin: 0 0;
        transition: all .2s ease-out;
        color: #000 !important;
        margin-bottom: 0;
    }
.btn {
     box-shadow: none !important;
}
#vresponsive{
    display:none;
}

.pulse {
    margin: 5px;
    display: block;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: #7880b1;
    cursor: pointer;
    box-shadow: 0 0 0 rgba(204,169,44, 0.4);
    animation: pulse 2s infinite;
}

    .pulse:hover {
        animation: none;
    }

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 #7880b1;
    }

    70% {
        -webkit-box-shadow: 0 0 0 10px #7880b1;
    }

    100% {
        -webkit-box-shadow: 0 0 0 0 #7880b1;
    }
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 #7880b1;
        box-shadow: 0 0 0 0 #7880b1;
    }

    70% {
        -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
        box-shadow: 0 0 0 10px rgba(204,169,44, 0);
    }

    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
        box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
}

/*.pulse2 {
    margin: 5px;
    display: block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #7880b100;
    cursor: pointer;
    box-shadow: 0 0 0 rgba(204,169,44, 0.4);
    animation: pulse 2s infinite;
}

    .pulse2:hover {
        animation: none;
    }
@-webkit-keyframes pulse2 {
    0% {
        -webkit-box-shadow: 0 0 0 0 #7880b100;
    }

    70% {
        -webkit-box-shadow: 0 0 0 10px #7880b100;
    }

    100% {
        -webkit-box-shadow: 0 0 0 0 #7880b100;
    }
}

@keyframes pulse2 {
    0% {
        -moz-box-shadow: 0 0 0 rgba(204,169,44, 0.4);
        box-shadow: 0 0 0 rgba(204,169,44, 0.4);
    }

    70% {
        -moz-box-shadow: 0 0 0 rgba(204,169,44, 0.4);
        box-shadow: 0 0 0 10px rgba(204,169,44, 0.4);
    }

    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
        box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
}*/

.ner {
    display: none;
}
/*Responsive*/
@media (min-width: 300px) and (max-width: 767px) {
    .pulse {
        display: none !important;
    }
}

    @media (min-width: 768px) and (max-width: 1200px) {
        .pulse {
            margin-left: 90px !important;
            margin: 5px;
            display: block;
            width: 22px;
            height: 22px;
            border-radius: 50%;
            background: #7880b1;
            cursor: pointer;
            box-shadow: 0 0 0 rgba(204,169,44, 0.4);
            animation: pulse 2s infinite;
        }

        .fz1 {
            font-size: 15px;
        }
    }

    @media (min-width: 769px) and (max-width: 1200px) {
        .ner {
            display: inline-block;
        }

        .ne {
            display: none;
        }
    }

    @media (min-width: 300px) and (max-width: 767px) {

        #vresponsive {
            display: inline;
        }

        #vweb {
            display: none !important;
        }

        .ner {
            display: inline-block;
            justify-content: center !important;
        }

        .ne {
            display: none;
        }

        .p5 {
            padding-top: 0px !important;
        }

        .imgCenter {
            text-align: center;
        }

        .pulse {
            display: none !important;
        }
    }

    .point {
        content: "\2022"; /* Adds the bullet */
        padding-right: 1px; /* creates the space between bullet, list item */
        color: #7880b1; /* changes the bullet color*/
    }

    .p5 {
        padding-top: 50px;
    }

    .point::marker {
        font-size: 40px;
    }