body {
}

@font-face {
    font-family: 'Poppins-Regular';
    src: url('../Content/fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'Poppins-Light';
    src: url('../Content/fonts/Poppins-Light.ttf');
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url('../Content/fonts/Poppins-Bold.ttf');
}

body {
    font-family: 'Poppins-Regular';
    background-color: #f4f0e4;
    color:#000

}

footer {
    background-color: #f4f0e4;
}

p {
    font-size: 15px;
}

.fz {
    font-size: 25px;
}

.fz1 {
    font-size: 19px;
}

#intro {
    background-color: #7880b1 !important;
}

#introo {
    background-color: #7880b18f;
}

#intro2 {
    background-color: #FFF !important;
}

.tv {
    color: #7880b1
}

#vo {
    background-color: #b1b6d0ad !important;
    border-radius: 8px;
}

.nav-link {
    color: #fff;
    font-family: 'Poppins-Regular';
    justify-content: end;
}

a.my-class {
    text-decoration: none;
    font-size: 17px;
    color: #f4f0e4 !important;
    font-family: 'Poppins-Regular';
    justify-content: end;
}

    a.my-class:hover {
        color: #FFDA7D !important;
        text-decoration: underline
    }

    a.my-class:active {
        color: #f4f0e4;
        text-decoration: underline;
        font-weight: bold;
    }


.nav-item.active a.my-class {
    color: #f4f0e4;
    text-decoration: underline;
    font-weight: bold;
    text-underline-offset: 5px;
    text-decoration-thickness: 3px;
}

.nav-item {
    text-align: end !important;
    width: 190px;
}

a.my-class2 {
    text-decoration: none;
    font-size: 17px;
    color: #7880b1 !important;
    font-family: 'Poppins-Regular';
    justify-content: center;
    font-weight: bold;
}

    a.my-class2:hover {
        color: #FFDA7D !important;
        text-decoration: underline;
        font-weight: bold;
    }

    a.my-class2:active {
        color: rgba(225, 225, 225, 0.19) !important;
        font-size: 20px;
        text-decoration: underline;
        font-weight: bold;
    }


.nav-item.active a.my-class2 {
    color: #7880b1;
    text-decoration: underline;
    font-weight: bold;
}

.nav-item {
    text-align: end;
    width: 220px;
}

footer {
    font-family: 'Poppins-Light';
}

h5 {
    font-family: 'Poppins-Light';
}

h6 {
    font-family: 'Poppins-Regular';
}

h2 {
    font-family: 'Poppins-Bold';
}

.form-outline .form-control {
    min-height: auto;
    padding-top: .32rem;
    padding-bottom: .32rem;
    padding-left: .75rem;
    padding-right: .75rem;
    border: 0;
    background: rgba(255, 255, 255, 0.05);
    transition: all .2s linear;
}

    .form-outline .form-control ~ .form-label {
        position: absolute;
        top: 0;
        max-width: 90%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        left: .75rem;
        padding-top: .37rem;
        pointer-events: none;
        transform-origin: 0 0;
        transition: all .2s ease-out;
        color: #000 !important;
        margin-bottom: 0;
    }

.btn {
    box-shadow: none !important;
}

#vresponsive {
    display: none;
}

.pulse {
    margin: 5px;
    display: block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    box-shadow: 0 0 0 #ffffff63;
    animation: pulse 2s infinite;
}

    .pulse:hover {
        animation: none;
    }

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 #ffffff63;
    }

    70% {
        -webkit-box-shadow: 0 0 0 10px #ffffff52;
    }

    100% {
        -webkit-box-shadow: 0 0 0 0 #ffffff63;
    }
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 #ffffff63;
        box-shadow: 0 0 0 0 #7880b1;
    }

    70% {
        -moz-box-shadow: 0 0 0 10px #ffffff52;
        box-shadow: 0 0 0 10px #ffffff54;
    }

    100% {
        -moz-box-shadow: 0 0 0 0 #ffffff63;
        box-shadow: 0 0 0 0 #ffffff63;
    }
}



@media (min-width: 768px) and (max-width: 1200px) {
    .pulse {
        margin-left: 190px !important;
        margin: 5px;
        display: block;
        width: 22px;
        height: 22px;
        border-radius: 50%;
        background: #7880b1;
        cursor: pointer;
        box-shadow: 0 0 0 rgba(204,169,44, 0.4);
        animation: pulse 2s infinite;
    }

    .fz1 {
        font-size: 15px;
    }
}

@media (min-width: 300px) and (max-width: 767px) {
    .pulse {
        display:none !important;
    }
 
    #vresponsive {
        display: inline !important;
    }
    #veresponsive {
        display: none !important;
    }
    .p5{
        padding-top: 0px !important
    }
    .imgCenter {
        text-align: center;
    }
    .tc{
        text-align:center !important
    }
    .imgR{
        width:85% !important;
    }
}
@media (min-width: 769px) and (max-width: 1200px) {
    .imgCenter {
        text-align: center;
    }
 
    #veresponsive {
        display: none !important;
    }
    #veresponsivet {
        display: inline-block !important;
    }
}
#veresponsivet {
    display: none;
}

.navbar-toggler {
    padding: var(--mdb-navbar-toggler-padding-y) var(--mdb-navbar-toggler-padding-x);
    font-size: var(--mdb-navbar-toggler-font-size);
    line-height: 1;
    color: rgb(255 255 255 / 65%);
    background-color: rgba(0, 0, 0, 0);
    border: var(--mdb-border-width) solid var(--mdb-navbar-toggler-border-color);
    border-radius: var(--mdb-navbar-toggler-border-radius);
    transition: var(--mdb-navbar-toggler-transition);
}
.p5 {
    padding-top: 50px ;
}
.tc {
    text-align: start
}